<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @{
        //TODO #4: Loop over the search results to display all job fields.
    }
    <table class="job-listing">
        <table class="job-listing">
            <table class="table table-bordered">

                @if (ViewBag.jobs != null)
                {





                    @* //TODO #1: Use a loop to display job results in a table.*@
                    @foreach (var item in ViewBag.jobs)
                    {
                        @*
                            <tr>
                            <th>
                            ID:
                            </th>
                            <td>@item.Id</td>
                            </tr>

                            <tr>
                            <th>
                            Name:
                            </th>
                            <td>@item.Name</td>
                            </tr>

                            <tr>
                            <th>
                            Employer:
                            </th>
                            <td>@item.Employer</td>
                            </tr>
                            <tr>
                            <th>
                            Location:
                            </th>
                            <td>@item.Location</td>
                            </tr>
                            <tr>
                            <th>
                            Position:
                            </th>
                            <td>@item.PositionType</td>
                            </tr>
                            <tr>
                            <th>
                            Skills:
                            </th>
                            <td>@item.CoreCompetency</td>
                            </tr>
                            <tr>
                            <th>
                            <br>
                            <br>
                            </th>
                            <td>
                            </td>
                            </tr>*@


                        <tr>
                            <th scope="col">ID</th>

                            <td>@item.Id</td>
                        </tr>
                        <tr>
                            <th scope="col">Name</th>

                            <td>@item.Name</td>
                        </tr>
                        <tr>
                            <th scope="col">Employer</th>

                            <td>@item.Employer</td>
                        </tr>
                        <tr>
                            <th scope="col">Location</th>

                            <td>@item.Location</td>
                        </tr>
                        <tr>
                            <th scope="col">Position</th>

                            <td>@item.PositionType</td>
                        </tr>
                        <tr>
                            <th scope="col">Skill</th>

                            <td>@item.CoreCompetency</td>
                        </tr>
                        <tr>
                            <th>
                                <br>

                            </th>
                            <td>
                            </td>
                        </tr>
                    }
                }
            </table>
        </table>
    </table>





